modules = ["web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "freetype", "gcc", "gcc-unwrapped", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pgadmin4", "tcl", "tk", "zlib", "postgresql"]

[userenv]

[userenv.shared]
SECRET_KEY = "64ywygcpw3nwi&eon=_hpdc0(7-%soxi!xjbcdd6m+ldtwfsl7"
DEBUG = "True"
ALLOWED_HOSTS = "localhost,127.0.0.1,.replit.dev,.replit.app"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/home/runner/workspace/.pythonlibs/bin/python3.11 manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37581
externalPort = 3000

[[ports]]
localPort = 45773
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "portal_noticias.wsgi:application"]
build = ["python", "manage.py", "collectstatic", "--noinput"]
